<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="card mt-3">
    <div class="card-header">
      <h4><strong>List of employees</strong></h4>
    </div>
    <div class="card-body">
      <div class="d-flex flex-row-reverse">
        <a routerLink="/add" class="p-2 btn btn-outline-primary mb-5">AddEmployee</a>
        <br>
      </div>
      <table class="table table-hover table-bordered">
          <thead>
              <tr>
              <th scope="col">#</th>
              <th scope="col">Fullname</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
              <th scope="col">Website</th>  
              <th scope="col">Actions</th>                      
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let e of employeesList">
              <th scope="row">{{e.idEmployee}}</th>
              <td>{{e.fullname}}</td>
              <td>{{e.email}}</td>
              <td>@{{e.address}}</td>
              <td>{{e.phone}}</td>
              <td>@{{e.website}}</td>  
              <td><button type="button" class="btn btn-danger" (click)= "cruds.deleteContact(e.idEmployee)"><small>DELETE</small></button></td>           
              </tr>
          </tbody>
      </table>
      
    </div>
  </div>
</div>